* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#banner {
    background-color: rgb(240, 38, 82);
    color: #fff;
    height: 500px;
}

.main-header {
    padding: 8px 16px;
}

.main-nav__item {
    display: inline-block;
}